body {
  margin: 0;
}

* {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  /* Nothing should be selectable*/
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

}
html{
  overflow: hidden;
}

th, td {
    border-bottom: 1px solid #ddd;
    height: 30px;
}
#content {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
#menuButton {
  position: absolute; /* Upper left corner*/
  z-index: 2;
  background-color: transparent;
  border: none;
}

#menuButtonGraphic {
  width: 70px;
  opacity: 0.6;
}

.snapper-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

.trackWrapper {
  width: 100vw;
  position: absolute;
}

.trackImage {
  width: 100vw;
  height: 100vh;
}

.Track {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.TrackInfo {
  width: 100vw;
  height: 100vh;
  background-color: blue;
}

button:focus {outline:0;}

.buttonGraphic {
  height: 100px;
}
.music-button {
  position: absolute;
  background-color: transparent;
  border: none;
  z-index: 2;
}

.PlayPauseButton {
  position: absolute;
  left: 50vw;
  top: 15px;
  margin-left: -50px;

}

#button-backward {
  top: 40vh;
  left: 15px;
}


#button-forward {
  right: 0;
  top: 40vh;
  right: 15px;
}


#timeline{
	width: 600px;
	height: 18px;
  border: 1px;
  border-style: solid;
  border-color: white;
	background: white;
  border-radius: 15px;
  position: absolute;
  left: 50vw;
  margin-left: -300px; /* half of width*/
  bottom: 40px;
  z-index: 4;
}

#playhead{
	width: 18px;
	height: 18px;
	border-radius: 50%;
  position: relative;
	background: black;
  z-index: 5;
}
